{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}
{% include 'footer.html' %}
{% block content %}
<h1 class="text-center" style="margin-top: 50px;">About Us</h1>
 <div class="container" style="margin-top: 100px;" >
     <div class="row">
         <div class="col-md-6">
             <h1 class="strong">Who we are and<br>what we do</h1>
             <p class="lead">Hospital Management system is a system where you can take any type of services. It is located in
                Tulsipur Dang. It provides different types of services like radiography, different types sergons with
                highly reputed doctors.</p>
         </div>
         <div class="col-md-6">
             <p>Postoperative care is the care you receive after a surgical procedure. The type of postoperative
                        care you need depends on the type of surgery you have, as well as your health history. It often
                        includes pain management and wound care.</p>
             <p>A neonatal intensive care unit, also known as an intensive care nursery, is an intensive care
                        unit specializing in the care of ill or premature newborn infants. Neonatal refers to the first
                        28 days of life. Neonatal care, as known as specialized nurseries or intensive care, has been
                        around since the 1960s.</p>

         </div>
         <div class="row">
         <div class="site-heading text-center">
             <h1>Our Team</h1>
             <p>the specialty unit of a general hospital that is licensed by the state.
                 It be designed to care for patients with injuries and special illnesses.
                 This includes, but is not limited to, a long-term acute care unit, an acute mental health
                 acute short-term rehabilitation unit  hospital.
                 educational or rehabilitative care.</p>
             <div class="border"></div>
         </div>
     </div>
 </div>

{% endblock content %}