 {% include 'base.html' %}
{% load static %}
{% include 'nav.html' %}
{% include 'footer.html' %}
<div>

    <h2 class="text-center">View Doctor</h2>
    <table id="example" class="table table-striped">
        <thead>
        <tr>
            <th>Doctor Id</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Special</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
          {% for i in doc %}
          <tr>
              <td>{{i.id}}</td>
              <td>{{i.Name}}</td>
              <td>{{i.mobile}}</td>
              <td>{{i.special}}</td>
              <td><a href="{% url 'delete_doctor' i.id %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger" >Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>

    </table>


</div>